<script setup lang="ts">
import { ref } from 'vue';
import { useStockStore } from '../../stores/stock';
import type { VForm } from 'vuetify/components';


const stockStore = useStockStore()
const form = ref(true)
const refForm = ref<VForm | null>(null);


async function save() {
    const { valid } = await refForm.value!.validate();

    if (!valid) {
        console.log('erroe validation')
        return
    }
    console.log("edit: ",stockStore.editedStock)
    stockStore.saveStock(stockStore.editedStock)
    stockStore.closeDialog()
}
</script>


<template>
    <v-dialog v-model="stockStore.dialog" persistent width="960">
        <v-card>
            <v-card-title>
                <span class="text-h5">Stock INFO</span>
            </v-card-title>
            <v-card-text>

                <v-form ref="refForm" v-model="form" >
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="stockStore.editedStock.date" :readonly="stockStore.loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Date">
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model.number="stockStore.editedStock.userID" :readonly="stockStore.loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Checker ID">
                                </v-text-field>
                            </v-col>

                        </v-row>
                    </v-container>
                </v-form>                
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="stockStore.closeDialog()">
                    Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>  
    </v-dialog>
</template>
