<script setup lang="ts">
import { onMounted, ref } from 'vue';

import { useStockStore } from '@/stores/stock';
import { useStockDetailStore } from '@/stores/stockDetail';

import type { Stock } from '@/types/Stock';
import type { StockDetail } from '@/types/StockDetail';

import editStockDialogVue from '@/components/Stock/editDialog.vue';
import deleteStockDialogVue from '@/components/Stock/deleteDialog.vue';
import editStockDetailDialogVue from '@/components/StockDetail/editDialog.vue'
import deleteStockDetailDialogVue from '@/components/StockDetail/deleteDialog.vue'


const stockStore = useStockStore()
const stockDetailStore = useStockDetailStore()

const stockheaders = [
  {
    title: "Stock ID",
    key: "id",
    value: "id",
    width: '100px'
  },
  {
    title: "Date (DD-MM-YYYY)",
    key: "date",
    value: "date",
    width: '300px'
  },
  {
    title: "Stock Checker ID(User ID)",
    key: "user id",
    value: "user id",
    width: '300px'
  },
  {
    title: "Operation",
    key: "operation",
    value: "operation",
  }
];

const stockDetailsheaders = [
  {
    title: "Stock Detail ID",
    key: "id",
    value: "id",
  },
  {
    title: "Quanlity",
    key: "QOH",
    value: "QOH",
  },
  {
    title: "Balance",
    key: "balance",
    value: "balance",
  },
  {
    title: "Material ID",
    key: "material id",
    value: "material id",
  },
  {
    title: "Stock ID",
    key: "stockId",
    value: "stockId",
  },
  {
    title: "Operation",
    key: "operation",
    value: "operation",
  }
];



const editedStock = ref<Stock>()
const refByStockId = ref<number>()

const send = (item: Stock) => {
  editedStock.value = JSON.parse(JSON.stringify(item));
  if (editedStock.value) {
    refByStockId.value = editedStock.value.id;
    getdetailByStockId(refByStockId.value)
  }
};

function getdetailByStockId(stockId: number){
  stockDetailStore.getStockDetailsByStockId(stockId)
}

function newStock(){
  stockStore.dialog = true;
}
function newStockDetail(){
  stockDetailStore.dialog = true;
}
onMounted(() => {
  stockStore.getStocks()
})

function returnItem(item: StockDetail): StockDetail{
  return item;
}
</script>

<template>

  <v-sheet>
  <v-row>
    <!-- First Table -->   
    <v-col cols="5">
      <v-card variant="outlined" color="primary">
        <v-toolbar class="custom-stock-toolbar">
        <v-toolbar-title style="font-size: 24px;">
          Stocks 
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="newStock" class="text-none text-subtitle-1"
          color="#5865f2"
          variant="flat">
            New Stock
        </v-btn>
      </v-toolbar>
      <v-data-table :items="stockStore.stocks" 
      :headers="stockheaders"
      class="elevation-1 custom-table"
      fixed-header
      height="350px">
        <template v-slot:item="props">
          <tr>
            <td @click="send(props.item)">{{ props.item.id }}</td>
            <td @click="send(props.item)">{{ props.item.date }}</td>
            <td @click="send(props.item)">{{ props.item.userID}}</td>
            <td>
                <div>
                  <v-icon size="small" class="me-2" @click="stockStore.editStock(props.item)">
                    mdi-pencil
                  </v-icon>             
            
                  <v-icon size="small" @click="stockStore.sendToDelete(props.item)">
                    mdi-delete
                  </v-icon>
                </div>
              </td>
          </tr>
        </template>
      </v-data-table>
      </v-card>
    </v-col>
    

    <!-- Second Table -->
    <v-col cols="7">
      <v-card variant="outlined" color="primary">
        <v-toolbar class="custom-stock-detail-toolbar">
        <v-toolbar-title style="font-size: 24px;">
          Stock Details
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="newStockDetail" class="text-none text-subtitle-1"
          color="#5865f2"
          variant="flat">
            New Stock Detail
        </v-btn>
      </v-toolbar>
      <v-data-table :items="stockDetailStore.stockDetails" 
      :headers="stockDetailsheaders" 
      class="elevation-1 custom-table"
      fixed-header
      height="350px">
        <template v-slot:item="props">
          <tr>
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.QOH }}</td>
            <td>{{ props.item.balance }}</td>
            <td>{{ props.item.materialId }}</td>
            <td>{{ props.item.StockId }}</td>
            <td>
              <div>
                <v-icon size="small" class="me-2" @click="stockDetailStore.editStockDetail(props.item)">
                  mdi-pencil
                </v-icon>
                <v-icon size="small" @click="stockDetailStore.sendToDelete(props.item)">
                  mdi-delete
                </v-icon>
              </div>
            </td>
          </tr>
        </template>
      </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</v-sheet>

<editStockDialogVue></editStockDialogVue>
<deleteStockDialogVue></deleteStockDialogVue>
<editStockDetailDialogVue></editStockDetailDialogVue>
<deleteStockDetailDialogVue></deleteStockDetailDialogVue>


</template>

<style scoped>
.custom-stock-toolbar {
  background-image: url('../image/stock/warehourse.jpg');
  background-size: cover;
  background-position: center;
  color: white; /* เพิ่มสีตัวอักษรหรือสีขอบอื่น ๆ ตามที่ต้องการ */
}
.custom-stock-detail-toolbar {
  background-image: url('../image/stock/warehourse.jpg');
  background-size: cover;
  background-position: center;
  color: white; /* เพิ่มสีตัวอักษรหรือสีขอบอื่น ๆ ตามที่ต้องการ */
}
</style>